.App {
  text-align: center;
}

.container {
  width: 100vw;
  height: 100vh;
  border: 5cm, solid;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 30%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  height: 40px;
  font-size: 16px;
  outline: none;
}

button {
  height: 40px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 3px;
  margin-top: 15px !important;
  cursor: pointer;
  width: 10%;
  font-size: 16px;
  font-weight: 600;
  outline: none;
}

button:disabled, input:disabled {
  cursor: not-allowed;
}

.waiting-text {
  color:lightsalmon;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  font-style: italic;
}

.cardd {
  display: inline-block;
  height: 200px;
  cursor: pointer;
}

.captured-card {
  display: inline-block;
  height: 100px;
  cursor: pointer;
}

.rest{
  margin-left: -90px;
}

.restt{
  margin-right: -90px;
}

.cardd:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.emptyBox {
  height: 70%;
  width: 70%;
  border: 2px dashed gray;
  margin-right: 10px;
  cursor: pointer;
  overflow: hidden;
}

.emptyBox img{
  width: 100%;
  height: 100%;
  object-fit: cover; /* preserve aspect ratio and fill the container */
  transition: transform 0.3s ease; /* add transition effect */
}

.card-gridd {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deck-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  justify-items: center;
}


.play-trick-screen .card {
  /* width: 100%; */
  /* height: 100%; */
  /* object-fit: cover; preserve aspect ratio and fill the container */
  transition: transform 0.3s ease; /* add transition effect */
}

/* Add CSS for the hover effect */
.play-trick-screen .card:hover {
  transform: scale(1.1); /* scale the image by 10% on hover */
}
.list-container {
  display: block;
  /* flex-grow: 1; */
  /* flex-basis: 35%; */
  padding: 20px;
}

.list-container li:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.list-container li:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom: 1px solid gray;
}

li {
  /* height: 100px; */
  border: 1px solid gray;
  border-bottom: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: -webkit-xxx-large;
  font-weight: lighter;
  width: 300px;
  /* min-width: fit-content;
  padding: 10px; */
}

#selectedBid {
  background-color: darkgrey;
  font-weight: 900;
}

li:hover {
  background-color: darkgrey;
  font-weight: 900;
}

.selected-card {
  border: 2px solid green !important;
  /* transform: translate3d() */
  /* padding: 10px; */
}

.bid-button, .register-user {
  width: 300px;
  height: 50px;
  align-self: center;
  font-weight: 900;
  border: 1px solid gray;
  cursor: pointer;
}

.back-button {
  width: fit-content;
  height: 50px;
  align-self: center;
  font-weight: 900;
  border: 1px solid gray;
  cursor: pointer;
  margin: 0 5px;
}


.shared-deck {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.shared-deck-container {
  text-align: center;
  border: 1px solid gray;
  margin-bottom: 15px;
}

.shared-deck-card-container {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.shared-deck-card-container img {
  /* width: 60%; */
  height: 200px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
  /* object-fit: cover; */
}

.result {
  text-align: center;
  padding: 30px;
  width: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

td, th {
  border: 1px solid #dddddd !important;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.gameOptions {
  display: flex;
}

.gameOptions li {
  width: 400px;
  border-bottom: 1px solid black !important;


}




